body {
	margin: 0;
	background-color: #3ECFE3;
	padding-left: 75px;
	padding-right: 75px;
}

.caja-principal {
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.caja-tiempo {
	background-color: #f67e7e;
	border-radius: 0px 0px 10px 10px;
}

.preguntaTexto {
	background-color: #408059;
	margin: 5%;
}



.caja-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

form{
	margin-top:5%;
}

.respuesta {
	background-color: #408059;
	margin: 5%;
}

img {
	width: 50px;
}

.caja-preguntaYopciones {
	padding-left: 65px;
}