@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');


/*
rosita: F89C9C
verde: 408059
celeste: 3ECFE3
marron: 301919*/

body {
    width: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-image: url("../img/fondo-home.png");
    box-sizing: border-box;
    background: rgb(246,126,126);
    background: linear-gradient(164deg, rgba(246,126,126,1) 13%, rgba(252,147,147,1) 57%, rgba(249,169,169,1) 97%);
    /*background-color:#F89C9C;*/
}


.encabezado {
    background-color: #F89C9C;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.encabezado img {
    border-radious: 50%;

}
h1{
    color: #1c0f0f;
    font-family: 'Love Ya Like A Sister', cursive;
}
h3 {
    color: #301919;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 4.375em;
    margin: 1%;
}
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');


/*
rosita: F89C9C
verde: 408059
celeste: 3ECFE3
marron: 301919*/

body {
    width: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-image: url("../img/fondo-home.png");
    box-sizing: border-box;
    background: rgb(246,126,126);
    background: linear-gradient(164deg, rgba(246,126,126,1) 13%, rgba(252,147,147,1) 57%, rgba(249,169,169,1) 97%);
    /*background-color:#F89C9C;*/
}


.encabezado {
    background-color: #F89C9C;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.encabezado img {
    border-radious: 50%;

}
h1{
    color: #1c0f0f;
    font-family: 'Love Ya Like A Sister', cursive;
}
h3 {
    color: #301919;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 4.375em;
    margin: 1%;
}

input{
    border: none;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #3ECFE3;
    line-height: inherit;
    padding: 5%;
    width: 50%;
    border-radius: 10px;

}