@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body{
    background-color: #ceedf1;
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h3{
    font-family: 'Love Ya Like A Sister', cursive;
    color: #301919;
}
.titulo_registrarse{
     display: block;
     background-color: #ffffff;
     box-sizing: border-box;
     margin: 0;
     width: 100%;
     text-align: center;
     border-radius: 5px 5px 0px 0px;
 }
.inputs {
    background-color: #f89c9c;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 6%;
    margin-top: 30px;
    border-radius: 5px;
    align-items: center;
    overflow: auto;
    width: auto;
    padding: 20px;
}
.campos{
    margin: 3%;
    }


button{
    background-color: #408059;
    border-radius: 5px;
    width: 100%;
    position: relative;
    top: -9px;
    border-style: none;
    padding: 5%;
    margin: 0;
}

button :hover{
    background-color: #78b991;
}
.contenedor_principal{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;

.caja_de_registro{
    display: flex;
    box-sizing: border-box;
    width: 80%;
    box-shadow: 10px 10px 34px -13px rgba(0,0,0,0.75);
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color:pink;
}

.boton_de_volver {
    display: inline-block;
    padding: 10px 15px;
    background-color: #F89C9C;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10%;
    margin:10px;
}

.boton_de_volver:hover{
    background-color: #ffffff;
    color: #F89C9C;
}
