<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Patria en Juego--cargar Preguntas</title>
<!-- custom style -->
<link rel="stylesheet" th:href="@{/css/cargarPreguntas.css}" />
<!-- Boostrap core css -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
</head>
<body>
	<header class="encabezado">
		<h3>Patria en Juego</h3>
		<img src="#" alt="pfilUser"
			th:src="@{/src/main/webapp/resources/core/img/fondo-home.png}">
	</header>
	<main>
		<h2>ARMA TU PREGUNTA</h2>
		<form th:action="@{/guardarPregunta}" method="post"
			th:object="${pregunta}">
			<!-- Campo de Pregunta -->
			<label for="descripcion">Pregunta:</label> <input type="text"
				th:field="*{descripcion}" id="descripcion" required />

			<!-- Campo de Nivel -->
			<label for="nivel">Nivel:</label> <select th:field="*{nivel}"
				id="nivel" required>
				<option value="">Selecciona un nivel</option>
				<option
					th:each="nivel : ${T(com.tallerwebi.dominio.Nivel).values()}"
					th:value="${nivel}" th:text="${nivel}" />
			</select>

			<!-- CAMPO FASE -->
			<label for="fase">Fase:</label> <select th:field="*{fase}" id="fase"
				required>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
			<!-- CAMPO RESPUESTAS -->
			<!-- Campo RESPUESTAS -->
			<div th:each="respuesta, stat : ${respuestas}"
				th:unless="${stat.index >= 4}">
				<div class="respuesta-container">
					<label th:text="'Respuesta ' + ${stat.index + 1}">para que
						agregues una respuesta:</label> <input type="text"
						th:field="*{respuestas[__${stat.index}__].descripcion}" required />
					<input type="radio"
						th:field="*{respuestas[__${stat.index}__].esCorrecta}"
						value="true" /> Correcta
				</div>
			</div>



		</form>
		<a th:href="@{/home}" class="boton_de_volver">Volver</a>
	</main>
	<script src="/resources/core/js/main.js"></script>



</body>
</html>
