<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I- Patria en Juego - Inicio</title>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/home.css}"/>

</head>

<body class="fondo-home">

<main role="main" class="container ">

  <div class = "contenedor">
    <h1>Patria en Juego</h1>
    <p>recuperando nuestra historia</p>
    <div class = "container botones">
      <a th:href="@{/login.html}">Login</a>
      <a th:href="@{/registrarse.html}">Registrarse</a>
    </div>
    <p th:if="${registroExitoso != null}" class="mensaje_error" th:text="${registroExitoso}">
    </p>
    </div>


</main>
<!-- /.container -->

</body>
</html>