<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patria en Juego--Fase 02</title>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/partida.css}" />
    <!-- Boostrap core css -->
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />

</head>
<body>

<header class="encabezado">
    <h3>Patria en Juego</h3>
</header>

<main>
    <!--<div class="tiempito">
        <p>
            <span th:text="${contador}">00:00</span>
        </p>
    </div>-->
    <span th:text="${respuestaEsCorrecta}"></span>

    <h1>Pregunta de <span th:text="${pregunta.getNivel().getNombre()}"></span></h1>

    <div class="contenedor">
        <!-- Div de la izquierda con la pregunta y respuestas -->
        <div class="pregunta">
            <h2 class="preguntaTexto" th:text="${pregunta.getDescripcion()}"></h2>
            <form id="formularioRespuesta" action="/spring/enviarRespuesta" method="post">
                <div th:each="respuesta : ${respuestas}">
                    <input type="hidden" id="respuestaId" name="respuestaId" th:value="${respuesta.getId()}" />
                </div>
            </form>
            <button class="respuesta"
                    th:each="respuesta : ${respuestas}"
                    th:text="${respuesta.getDescripcion()}"
                    th:onclick="'enviarRespuesta(this)'"
                    th:attr="data-id-respuesta=${respuesta.getId()}"
            >
            </button>
        </div>

        <div class="linea-vertical"></div>

        <div class="imagen">
            <img alt="imgSalta" th:src="@{'/img/' + ${pregunta.getId()} + '.png'}">
        </div>

    </div>

</main>
<footer>
    <p>Unlam--DII T2023</p>
    <p>Gambaro,Moscovich,Pereyra,Zara</p>

</footer>

<script>
    function enviarRespuesta(elemento) {
        var respuestaId = elemento.getAttribute('data-id-respuesta');
        document.getElementById('respuestaId').value = respuestaId;
        document.getElementById('formularioRespuesta').submit();
    }
</script>
</body>
</html>